@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

body {
  font-family: "Muli", sans-serif;
}

header {
  background-image: url("https://res.cloudinary.com/dhh7wcotw/image/upload/v1674806237/wedding/DSC01780_rj7sxl.jpg");
  background-size: cover;
}

.font-great-vibes {
  font-family: "Great Vibes", cursive;
}